<section class="min-vh-100 d-flex justify-content-center align-items-center">
  <canvas id="canvas" hidden></canvas>
  <div id="clouds">
    <div class="cloud x1"></div>
    <div class="cloud x1_5"></div>
    <div class="cloud x2"></div>
    <div class="cloud x3"></div>
    <div class="cloud x4"></div>
    <div class="cloud x5"></div>
  </div>
  <div class="c">
    <div class="_404 mb-3">404</div>
    <hr class="mb-2" />
    <div class="_1 mb-3">THE PAGE</div>
    <div class="_2 mb-3">WAS NOT FOUND</div>
    <a class="btn" routerLink="/home">BACK TO HOME</a>
  </div>
</section>
