<section class="my-5 pt-5">
  <div class="container text-center mt-5">
    <h1 class="fw-bold text-uppercase fs-1 text-center mb-3">
      portfolio component
    </h1>
    <div class="d-flex align-items-center justify-content-center mb-3">
      <div class="line me-3 bg-black"></div>
      <i class="fa-solid fa-star"></i>
      <div class="line ms-3 bg-black"></div>
    </div>
    <div class="row g-5">
      <div class="col-md-4">
        <div class="img-container position-relative rounded-3">
          <img src="/images/poert1.png" class="w-100 rounded-3" alt="poster-1" />
          <div
            class="layer position-absolute w-100 h-100 top-0 start-0 rounded-3"
          >
            <i
              class="fa-solid fa-plus text-white position-absolute top-50 start-50 translate-middle"
            ></i>
          </div>
        </div>
      </div>
      <div class="col-md-4">
        <div class="img-container position-relative rounded-3">
          <img src="/images/port2.png" class="w-100 rounded-3" alt="poster-2" />
          <div
            class="layer position-absolute w-100 h-100 top-0 start-0 rounded-3"
          >
            <i
              class="fa-solid fa-plus text-white position-absolute top-50 start-50 translate-middle"
            ></i>
          </div>
        </div>
      </div>
      <div class="col-md-4">
        <div class="img-container position-relative rounded-3">
          <img src="/images/port3.png" class="w-100 rounded-3" alt="poster-3" />
          <div
            class="layer position-absolute w-100 h-100 top-0 start-0 rounded-3"
          >
            <i
              class="fa-solid fa-plus text-white position-absolute top-50 start-50 translate-middle"
            ></i>
          </div>
        </div>
      </div>
      <div class="col-md-4">
        <div class="img-container position-relative rounded-3">
          <img src="/images/poert1.png" class="w-100 rounded-3" alt="poster-1" />
          <div
            class="layer position-absolute w-100 h-100 top-0 start-0 rounded-3"
          >
            <i
              class="fa-solid fa-plus text-white position-absolute top-50 start-50 translate-middle"
            ></i>
          </div>
        </div>
      </div>
      <div class="col-md-4">
        <div class="img-container position-relative rounded-3">
          <img src="/images/port2.png" class="w-100 rounded-3" alt="poster-2" />
          <div
            class="layer position-absolute w-100 h-100 top-0 start-0 rounded-3"
          >
            <i
              class="fa-solid fa-plus text-white position-absolute top-50 start-50 translate-middle"
            ></i>
          </div>
        </div>
      </div>
      <div class="col-md-4">
        <div class="img-container position-relative rounded-3">
          <img src="/images/port3.png" class="w-100 rounded-3" alt="poster-3" />
          <div
            class="layer position-absolute w-100 h-100 top-0 start-0 rounded-3"
          >
            <i
              class="fa-solid fa-plus text-white position-absolute top-50 start-50 translate-middle"
            ></i>
          </div>
        </div>
      </div>
      <div class="col-md-4">
        <div class="img-container position-relative rounded-3">
          <img src="/images/poert1.png" class="w-100 rounded-3" alt="poster-1" />
          <div
            class="layer position-absolute w-100 h-100 top-0 start-0 rounded-3"
          >
            <i
              class="fa-solid fa-plus text-white position-absolute top-50 start-50 translate-middle"
            ></i>
          </div>
        </div>
      </div>
      <div class="col-md-4">
        <div class="img-container position-relative rounded-3">
          <img src="/images/port2.png" class="w-100 rounded-3" alt="poster-2" />
          <div
            class="layer position-absolute w-100 h-100 top-0 start-0 rounded-3"
          >
            <i
              class="fa-solid fa-plus text-white position-absolute top-50 start-50 translate-middle"
            ></i>
          </div>
        </div>
      </div>
      <div class="col-md-4">
        <div class="img-container position-relative rounded-3">
          <img src="/images/port3.png" class="w-100 rounded-3" alt="poster-3" />
          <div
            class="layer position-absolute w-100 h-100 top-0 start-0 rounded-3"
          >
            <i
              class="fa-solid fa-plus text-white position-absolute top-50 start-50 translate-middle"
            ></i>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
