<footer class="text-center text-white p-5">
  <div class="container">
    <div class="row g-5">
      <div class="col-md-4">
        <div class="location">
          <h3 class="text-uppercase">Location</h3>
          <p>2215 John Daniel Drive</p>
          <p>Clark, MO 65243</p>
        </div>
      </div>
      <div class="col-md-4">
        <div class="links">
          <h3 class="text-uppercase">Around the web</h3>
          <div class="d-flex gap-2 justify-content-center">
            <a href="#" class="text-decoration-none text-white">
              <div
                class="icon-circle d-flex align-items-center justify-content-center"
              >
                <i class="fa-brands fa-facebook"></i>
              </div>
            </a>
            <a href="#" class="text-decoration-none text-white">
              <div
                class="icon-circle d-flex align-items-center justify-content-center"
              >
                <i class="fa-brands fa-twitter"></i>
              </div>
            </a>
            <a href="#" class="text-decoration-none text-white">
              <div
                class="icon-circle d-flex align-items-center justify-content-center"
              >
                <i class="fa-brands fa-linkedin-in"></i>
              </div>
            </a>
            <a href="#" class="text-decoration-none text-white">
              <div
                class="icon-circle d-flex align-items-center justify-content-center"
              >
                <i class="fa-brands fa-instagram"></i>
              </div>
            </a>
          </div>
        </div>
      </div>
      <div class="col-md-4">
        <div class="freelance">
          <h3 class="text-uppercase">About Freelancer</h3>
          <p>
            Freelance is a free to use, licensed Bootstrap theme created by
            Route
          </p>
        </div>
      </div>
    </div>
  </div>
</footer>
<div class="footer2">
  <p class="m-0 text-white text-center p-3">Copyright &copy; Your Website 2021</p>
</div>
